form {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 25px;
}

/* INPUTS Y SELECT */
input,
select {
  padding: 10px 14px;
  font-size: 15px;
  background: #1d1f27;
  border: 1px solid #2a2d36;
  border-radius: 10px;
  color: #f1f1f6;
}

input::placeholder {
  color: #9a9cb0;
}

/* BOTÓN AÑADIR */
button {
  padding: 10px 18px;
  font-size: 15px;
  border-radius: 10px;
  background: #4b7bec;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #6c8cff;
}
